<style>
    img{
        height: 150px;
        width: 150;
    }

    hr {
        border-style: none;
        border-top-style: dotted;
        border-color: black;
        border-width: 5px;
        width: 5%;
    }

</style>